/* This makes the first column (the Characters) twice as large */
td:first-child {
    font-size: 210%;
}

td:nth-child(2) {
    font-size: 150%;
}

.no-enlarge td:first-child {
    font-size: 100%;
}

.no-enlarge td:nth-child(2) {
    font-size: 100%;
}

body {
    /* Checks for the Windows font first, then the Mac font, and falls back to standard sans-serif */
    font-family: "Microsoft JhengHei", "微軟正黑體", "Heiti TC", "黑體-繁", sans-serif;

    /* background and text colors */
    background-color: #fafaff;
    color: #111110;
}